* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Dongle', sans-serif;
    
    
}

/*--------------------------HEADER GRAL -----------------------------*/

header { 
  height: 20vh;
}

.header-container {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to right, #00093c, #2b0b00);
    display: flex;
    height: 20vh;
    justify-content: space-between;
}

.img-container {
    width: 10%;
    display: inline-block;
    
}

.img-container img {
    border-radius: 50%;
    width: 100px;
    
}

.nav-container {
    display: inline-block;
    margin-right: 100px;
    
}

.list-container {
    width: 100%;
    list-style: none;
}

.list-container li {
    width: 100px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    
}



.list-container a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    
    
}

.list-container a:hover {
  color: red;
  text-decoration: underline;

}

.nav-hamburguesa {
  display: none;
}


/* ---------------------- INDEX --------------------*/

.section-index {
  height: 100%;
}

.section-container-img {
  border-top: 1px solid #ccc;
  width: 100vw;
  height: 70vh;
}

.section-container-img img {
  width: 100%;
  height: 100%;
}

.section-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
  height: 30vh;
  padding: 10px;
}


.section-container-parrafo {
  width: 20vw;
  text-align: left;
  color: #000;
  margin: 5px;
  
}



.section-container-lista {
  display: flex;
  flex-direction: row;
  width: 60vw ;
  justify-content: space-around;
  margin: 0px 50px;
}



.section-container-lista-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 70px;
  }

  .section-container-lista-card:hover {
    background-color: lightblue;
    transform: scale(1.2,1.1);
    border-radius: 100%;
  }




.section-marcas {
  width: 100vw;
  height: 35vh;
  
}


.section-marcas ul {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.section-marcas li {
  text-decoration: none;
  list-style: none;

}

.section-marcas img {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}

.section-marcas img:hover {
  
  transform: scale(2,1);
}




/*-------------------------- ABOUT -----------------------------*/  

.about {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.about__container {
  margin-top: 100px;
  display: inline-block;
  width: 45%;
}


.about__img {
  display: inline-block;
  width: 50%;
}

.about__img img {
  margin-top: 10px;
  margin-left: 20px;
  width: 500px;
  height: 700px;
}



/*-------------------------- PRODUCTS -----------------------------*/

main {
  font-size: 20px;
  color: black;
  background-color: lightgray;
  height: 100%;
  
}

section {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;

}

.card-container {

  border: solid 4px withe;
  width: 20vw;
  height: 100%;
  text-align: center;
  margin: auto;
  background-color: white;
  padding: 5px;
  transition: all 2s;
}

.card-container:hover {
  background-color: lightblue;
  transform: scale(1.2,1.1);
}

.card-img {
  width: 90%;
  margin: auto;
  padding: 5px;
  
}

.card-img img {
width: 100%;

}

.card-tittle {
  margin: 5px;

}

.card-description {
  margin: 10px;
  font-size: 15px;
}

.card-price {
  margin: 10px;
}

.checked {
  color: orange;
  
}

.card-footer {
  margin: 10px;
  background-color: aqua;
}

.card-footer a {
  text-decoration: none;
  color: black;
}



/*-------------------------- SERVICES -----------------------------*/


.services {
  display:flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.services__tittle {
width: 30%;  
}

.services__tittle h1 {
  
  font-size: 50px;
}

.services__container__img {
  width: 70%;
}

.services__container__img img {
  margin: 20px;
  width: 400px;
  height: 200px;
  
}


.services__container__img-1 {
  display: flex;
  justify-content: start;
  transition: 1s;
}

.services__container__img-1:hover {
transform: scale(1.8,1);
}



.services__container__img-2 {
  display: flex;
  justify-content: flex-end;
}



/*-------------------------- CONTACT -----------------------------*/

.contact__container {
  display: flex;

}

.contact__description {
  width: 50vw;
  padding: 50px;
  
}

.contact__description h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  
}

.contact__description h3{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact__description ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  list-style: none;
}

.contact__description__line {
  width: 90%;
  border: 0;
  border-bottom: 1px solid black;
  margin: 20px auto;
}


.form-container {
  width: 50vw;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-container label {
  font-size: 40px;
}

.form-container input {
  width: 600px;
  height: 50px;
  font-size: 30px;

}

.form-container textarea {
  width: 600px;
  height: 300px;
  font-size: 40px;
}

.form-container-submit {
  background: black;
  color: white;
  font-size: 40px;
}




/*-------------------------- FOOTER -----------------------------*/

footer {
  display: block;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2b0b00);
  color: #fff;
  
}

.footer-bloque-1 {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between;

}

footer h1 {
  margin: 10px;
}

.footer-container-1 {
  width: 25vw;
}


.footer-container-2 {
  width: 25vw;
  text-align: center;
  
}

.footer-container-2 a:hover {
  color: red;
  text-decoration: underline;

}

.footer-container-3 {
  display: flex;
  width: 25vw;

}

.footer-container-3 ul {
    align-items: flex-end;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.footer-container-3 .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.footer-list{
  list-style: none;
}

.footer-item a{
  
  text-decoration: none;
  color: #ffff;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.footer-bloque-2 {
  text-align: center;
}




/* MEDIAS QUERY */

/*Media query tablet */

@media screen and (max-width: 768px) {


  /*--------------------------HEADER GRAL -----------------------------*/

header { 
  height: 20vh;
}

.header-container {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to right, #00093c, #2b0b00);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    width: 10%;
    display: inline-block;
    
}

.img-container img {
    border-radius: black solid 1px;
    width: 55px;
    
}

.nav-container {
    display: block;
    margin: 0;
    width: 65vw;
    
}

.list-container {
    display: flex;
    width: 100%;
    list-style: none;
}

.list-container li {
    width: 100px;
    display: block;
    margin: 0;
    
}



.list-container a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    
    
}

.list-container a:hover {
  color: red;
  text-decoration: underline;

}

  section {
  flex-wrap: wrap;
  font-size: 15px;
  }

  .card-container {
      width: 25vw;
      margin: 20px;
  }

  .card-description {
      font-size: 10px;
  }
  
  
}





.footer-bloque-1 {
  width: 85vw;
}

/* Media query celular*/

@media screen and (max-width: 480px) {


  .list-container li {
    width: 100px;

    
}

  .nav-container {
    display: none;
  }

  .nav-hamburguesa {
    display: flex;
    justify-content: end;
    z-index: 0;
    position: relative;

  }

  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ffff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: lightgrey; 
    z-index: 0;
    position: relative;
  }
  
  ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  
  }
  
  
  li {
    display: block;
    color: #ffff;
    background: linear-gradient(to right, #00093c, #2b0b00);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }

  section {
      
      flex-wrap: wrap;
      font-size: 10px;
  }

  .card-container {
      width: 30vw;
  }
  .card-description {
      font-size: 5px;
  }

  .card-container {

    border: solid 4px withe;
    width: 40vw;
    height: 100%;
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 5px;
    
  }
  
  .card-container:hover {
  
  }


  .footer-container-3 .fab {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    
    cursor: pointer;
  }
  
  
}