* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Dongle', sans-serif;
    
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: solid red 5px;
    background-color: #759eff;
    position: fixed;
}

.img-container {
    width: 10%;
    align-self: center;
    
}

.img-container img {
    border-radius: black solid 1px;
    padding: 50px;
    width: 55px;
    
}

.nav-container {
    width: 75%;
    align-self: center;
}



.list-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

.list-container li {
    width: 100px;
    
}

.list-container a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.sigin {
  display: flex;
  align-items: center;
  width: 20%;
}

.sigin__form{
  display: flex;
}

.sigin__form input {
  margin: 2px;
}

.sigin__form button {
  width: 35px;
}


main {
  background-image:url(/images/istockphoto-1200804682-1024x1024.jpg);
  z-index: 1;
}

.main-container {
    display: flex;
    font-size: 40px;
    height: 800px;
    width: 100%;
}



.section-index {
  font-family: 'Dongle', sans-serif;
  width: 100%;
  height: 800px;
}

.section-index h1 {
  font-size: 100px;
}

.section-index p {
  font-size: 50px;
}

/* Carousel */
/*.pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
  
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }*/









/* footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: solid 5px;
    background-color: #759eff;

}

.copyright-container {
    width: 50%;
    font-size: 30px;
    color: black;
}

.redes-container{
    width: 50%;
}